<b><%= t('.name') %></b>: <%= @health_facility.name %> <br>
<b><%= t('.administrative_sector') %></b>: <%= @health_facility.administrative_sector.name %> <br>
<b><%= t('.subprefecture') %></b>: <%= @health_facility.subprefecture.name %> <br>
<b><%= t('.technical_health_supervision') %></b>: <%= @health_facility.technical_health_supervision.name %> <br>
<b><%= t('.regional_health_coordination') %></b>: <%= @health_facility.regional_health_coordination.name %> <br>
<b><%= t('.beds') %></b>: <%= @health_facility.beds %>
