<div class="card">
  <div class="card-header" id="headingGeneralData<%= kind %>">
    <h5 class="mb-0">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseGeneralData<%= kind %>,#download<%= kind %>,#info<%= kind %>" aria-expanded="true" aria-controls="collapseGeneralData<%= kind %>" >
        <%= t ".#{kind}" %>
      </button>
      <%= image_tag('info.svg', id: "info#{kind}", class: 'btn collapse float-right', 'aria-labelledby' => "headingGeneralData#{kind}", 'data-parent' => '#general-data-accordion', 'title' => t(".#{kind}_info")) %>
      <%= link_to 'javascript:void(0)', onclick: "#{kind}imageGenerator.generate('#{kind}_body')",
                  'id' => "download#{kind}", 'class' => 'btn collapse float-right',
                  'aria-labelledby' => "headingGeneralData#{kind}", 'data-parent' => '#general-data-accordion' do %>
                  <%= image_tag('download.svg') %>
      <% end %>
    </h5>
  </div>

  <div id="collapseGeneralData<%= kind %>" class="collapse" aria-labelledby="headingGeneralData<%= kind %>" data-parent="#general-data-accordion">
    <div class="card-body" id="<%= kind %>_body">
      <%= render partial: kind %>
      <%= render partial: 'pdf_generator', locals: { kind: kind } %>
    </div>
  </div>
</div>
