<div class="table-responsive" style="height: 500px; display: block">
  <table class="table table-striped table-inverse">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= CensusSector.human_attribute_name :code %></th>
        <th scope="col"><%= CensusSector.human_attribute_name :total_population %></th>
        <th scope="col"><%= CensusSector.human_attribute_name :men_population %></th>
        <th scope="col"><%= CensusSector.human_attribute_name :women_population %></th>
        <th scope="col"><%= CensusSector.human_attribute_name :white_population %></th>
        <th scope="col"><%= CensusSector.human_attribute_name :black_population %></th>
        <th scope="col"><%= CensusSector.human_attribute_name :yellow_population %></th>
        <th scope="col"><%= CensusSector.human_attribute_name :mulatto_population %></th>
        <th scope="col"><%= CensusSector.human_attribute_name :native_population %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'general_data/census_sector_row', collection: @census_sectors %>
    </tbody>
  </table>
</div>
