<tr>
  <th scope="row"><%= census_sector_row.code %></th>
  <%# <td><%= census_sector_rate_value_total census_sector_row, @census_sector_counts %1></td> %>
  <td><%= census_sector_rate_value census_sector_row, @census_sector_counts, census_sector_row, :total_population %></td>
  <td><%= census_sector_rate_value census_sector_row, @census_sector_counts, 'M', :men_population %></td>
  <td><%= census_sector_rate_value census_sector_row, @census_sector_counts, 'F', :women_population %></td>
  <td><%= census_sector_rate_value census_sector_row, @census_sector_counts, '1', :white_population %></td>
  <td><%= census_sector_rate_value census_sector_row, @census_sector_counts, '2', :black_population %></td>
  <td><%= census_sector_rate_value census_sector_row, @census_sector_counts, '3', :yellow_population %></td>
  <td><%= census_sector_rate_value census_sector_row, @census_sector_counts, '99', :mulatto_population %></td>
  <td><%= census_sector_rate_value census_sector_row, @census_sector_counts, '5', :native_population %></td>
</tr>
