<h5><strong><u><%= t '.database' %></u></strong></h5>

<p>
  <strong><%= t '.source' %></strong>: Sistema de Internações Hospitalares SUS - SMS/SP
</p>

<p>
  <strong><%= t '.total_records' %></strong>: <%= @total_records %>
</p>

<p>
  <strong><%= t '.territory' %></strong>: Município de São Paulo
</p>

<h5><strong><u><%= t '.filtered_data' %></u></strong></h5>

<p>
  <strong><%= t '.total_filtered_records' %></strong>: <%= @procedures_ids.count %>
</p>

<%= render partial: 'shared/services/active_filters', locals: {
  active_filters: @active_filters
} %>
