<div id="distances-bucket-chart" style="width: 100%; min-height: 400px"></div>
<div id="mean-distance-by-specialty-chart" style="width: 100%; min-height: 400px"></div>
<h2 style='text-align:center'><%= t '.mean_distance_traveled_by_patients_header' %></h2>
<%= render partial:'general_data/distance_chart', collection: @distances[:facility_type_means_per_specialty], as: :chart %>

<%= javascript_tag do %>
  DistancesBucketChart = new ChartGenerator(echarts, $, window);
  SpecialtiesMeanDistanceChart = new ChartGenerator(echarts, $, window);

  DistancesBucketChart.createChart(
    "distances-bucket-chart",
    "<%= t '.distance_bucket_chart_title' %>",
    [
      <% @distances[:distances_buckets].map do |v| %>
        {name: "<%= raw v.first %>", value: <%= v.second %>},
      <% end %>
    ],
    "pie", {}, '#collapseGeneralDatadistance'
  );

  SpecialtiesMeanDistanceChart.createChart(
    "mean-distance-by-specialty-chart",
    "<%= t '.mean_distance_by_specialty_chart_title' %>",
    [
      <% @distances[:specialties_means].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "bar",
    {
      xAxis: {type: 'value'},
      yAxis: {type: 'category'}
    },
    "#collapseGeneralDatadistance",
    false
  );

  <% @distances[:facility_type_means_per_specialty].map.with_index do |v, i| %>
    Chart<%= i %> = new ChartGenerator(echarts, $, window);

    Chart<%= i %>.createChart(
      "<%= i %>-mean-distance-by-type-chart",
      "<%= v.first %>",
      [
        <% v.second.map do |v| %>
          ["<%= v.first %>", <%= v.second %>],
        <% end %>
      ],
      "bar",
      {
        xAxis: {type: 'value'},
        yAxis: {type: 'category'}
      },
      "#collapseGeneralDatadistance",
      false
    )
  <% end %>
<% end %>
