<% if chart_counter.even? %> <div class="row" style="display: flex; justify-content: space-between;"> <% end %>
<div id="<%= chart_counter %>-mean-distance-by-type-chart" style="width: 50%; min-height: 400px"></div>
<% if chart_counter.odd? %> </div> <% end %>
