<div id="administration-pie-chart" style="width: 100%; min-height: 400px"></div>
<div id="facility-types-pie-chart" style="width: 100%; min-height: 400px"></div>
<div id="administration-bar-chart" style="width: 100%; min-height: 400px"></div>
<div id="facility-types-bar-chart" style="width: 100%; min-height: 400px"></div>
<div id="beds-bar-chart" style="width: 100%; min-height: 400px"></div>

<%= javascript_tag do %>
  administrationPieChart = new ChartGenerator(echarts, $, window);
  facilityTypePieChart = new ChartGenerator(echarts, $, window);
  administrationBarChart = new ChartGenerator(echarts, $, window);
  facilityTypeBarChart = new ChartGenerator(echarts, $, window);
  bedsBarChart = new ChartGenerator(echarts, $, window);

  administrationPieChart.createChart(
    "administration-pie-chart",
    "<%= t '.administration_pie_chart_title' %>",
    [
      <% @stats[:administrations].map do |v| %>
        {name: "<%= v.first %>", value: <%= v.second %>},
      <% end %>
    ],
    "pie", {}, '#collapseGeneralDatahealth_facilities'
  );

  facilityTypePieChart.createChart(
    "facility-types-pie-chart",
    "<%= t '.facility_types_pie_chart_title' %>",
    [
      <% @stats[:facility_types].map do |v| %>
        {name: "<%= v.first %>", value: <%= v.second %>},
      <% end %>
    ],
    "pie", {}, '#collapseGeneralDatahealth_facilities'
  );

  administrationBarChart.createChart(
    "administration-bar-chart",
    "<%= t '.administration_pie_chart_title' %>",
    [
      <% @stats[:administrations].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "bar",
    {
      xAxis: {type: 'value'},
      yAxis: {type: 'category'}
    },
    "#collapseGeneralDatahealth_facilities"
  );

  facilityTypeBarChart.createChart(
    "facility-types-bar-chart",
    "<%= t '.facility_types_pie_chart_title' %>",
    [
      <% @stats[:facility_types].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "bar",
    {
      xAxis: {type: 'value'},
      yAxis: {type: 'category'}
    },
    "#collapseGeneralDatahealth_facilities"
  );

  bedsBarChart.createChart(
    "beds-bar-chart",
    "<%= t '.number_of_beds_bar_chart_title' %>",
    [
      <% @stats[:beds].map do |v| %>
        ["<%= v.name %>", <%= v.beds %>],
      <% end %>
    ],
    "bar",
    {
      xAxis: {type: 'value'},
      yAxis: {type: 'category'}
    },
    "#collapseGeneralDatahealth_facilities"
  );
<% end %>
