<div id="historic-series-chart" style="width: 100%; min-height: 400px"></div>

<%= javascript_tag do %>
  historicSeriesChart = new ChartGenerator(echarts, $, window);

  historicSeriesChart.createChart(
    "historic-series-chart",
    "",
    [
      <% @stats[:historic_series].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "line",
    {xAxis: {type: 'category'}, yAxis: {type: 'value'}},
    '#collapseGeneralDatahistoric_series'
  );
<% end %>
