<div id="hospitalizations-per-gender-pie-chart" style="width: 100%; min-height: 400px"></div>
<div id="hospitalizations-per-age-code-bar-chart" style="width: 100%; min-height: 400px"></div>
<div id="hospitalizations-per-days-bar-chart" style="width: 100%; min-height: 400px"></div>
<div id="hospitalizations-per-type-pie-chart" style="width: 100%; min-height: 400px"></div>
<div id="hospitalizations-per-race-pie-chart" style="width: 100%; min-height: 400px"></div>

<%= javascript_tag do %>
  hospitalizationsPerGenderPieChart = new ChartGenerator(echarts, $, window);
  hospitalizationsPerAgeCodeBarChart = new ChartGenerator(echarts, $, window);
  hospitalizationsPerDaysBarChart = new ChartGenerator(echarts, $, window);
  hospitalizationsPerTypePieChart = new ChartGenerator(echarts, $, window);
  hospitalizationsPerRacePieChart = new ChartGenerator(echarts, $, window);

  hospitalizationsPerGenderPieChart.createChart(
    "hospitalizations-per-gender-pie-chart",
    "<%= t '.hospitalizations_per_gender_title' %>",
    [
      <% @stats[:genders].map do |v| %>
        {name: "<%= v.first %>", value: <%= v.second %>},
      <% end %>
    ],
    "pie", {}, '#collapseGeneralDatahospitalizations'
  );

  hospitalizationsPerAgeCodeBarChart.createChart(
    "hospitalizations-per-age-code-bar-chart",
    "<%= t '.hospitalizations_per_age_code_title' %>",
    [
      <% @stats[:ages_ordered_by_code].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "bar",
    {xAxis: {type: 'value'}, yAxis: {type: 'category'}},
    '#collapseGeneralDatahospitalizations'
  );

  hospitalizationsPerDaysBarChart.createChart(
    "hospitalizations-per-days-bar-chart",
    "<%= t '.hospitalizations_per_days_title' %>",
    [
      <% @stats[:hospitalization_days].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "bar",
    {
      xAxis: {type: 'category'},
      yAxis: {type: 'value'},
      dataZoom: [{
        id: 'dataZoomX',
        type: 'slider',
        xAxisIndex: [0],
        filterMode: 'filter'
      }],
    },
    '#collapseGeneralDatahospitalizations'
  );

  hospitalizationsPerTypePieChart.createChart(
    "hospitalizations-per-type-pie-chart",
    "<%= t '.hospitalizations_per_type_title' %>",
    [
      <% @stats[:hospitalization_types].map do |v| %>
        {name: "<%= v.first %>", value: <%= v.second %>},
      <% end %>
    ],
    "pie", {}, '#collapseGeneralDatahospitalizations'
  );

  hospitalizationsPerRacePieChart.createChart(
    "hospitalizations-per-race-pie-chart",
    "<%= t '.hospitalizations_per_race_title' %>",
    [
      <% @stats[:races].map do |v| %>
        {name: "<%= v.first %>", value: <%= v.second %>},
      <% end %>
    ],
    "pie", {}, '#collapseGeneralDatahospitalizations'
  );
<% end %>
