<%= javascript_pack_tag 'procedures_map/ImageGenerator' %>

<%= form_with url: print_general_data_path, id: "#{kind}_print_form" do %>
  <%= hidden_field_tag :kind, kind  %>
  <%= hidden_field_tag :image, nil, id: "#{kind}_image"  %>
<% end %>

<%= javascript_tag do %>
  <%= kind %>imageGenerator = new ImageGenerator(html2canvas, $, '<%= "#{kind}_print_form" %>', '<%= kind %>_image');
<% end %>
