<% rankings = rankings_translations(@rankings) %>

<%= select_tag(
  :ranking_category,
  options_for_select(rankings.keys.collect.with_index.to_a),
  onchange: "generalData.contentSelectFor('ranking-table', this)") %>

<%= render partial: 'general_data/ranking_table.html', collection: rankings %>
