<div id="specialties-bar-chart" style="width: 100%; min-height: 400px"></div>
<div id="specialties-pie-chart" style="width: 100%; min-height: 400px"></div>

<%= javascript_tag do %>
  specialtiesBarChart = new ChartGenerator(echarts, $, window);
  specialtiesPieChart = new ChartGenerator(echarts, $, window);

  specialtiesBarChart.createChart(
    "specialties-bar-chart",
    "<%= t '.specialties_bar_chart_title' %>",
    [
      <% @stats[:specialties].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "bar",
    {xAxis: {type: 'value'}, yAxis: {type: 'category'}},
    '#collapseGeneralDataspecialties'
  );

  specialtiesPieChart.createChart(
    "specialties-pie-chart",
    "<%= t '.specialties_pie_chart_title' %>",
    [
      <% @stats[:specialties].map do |v| %>
        {name: "<%= v.first %>", value: <%= v.second %>},
      <% end %>
    ],
    "pie", {}, '#collapseGeneralDataspecialties'
  );
<% end %>
