<div id="territory-AS-chart"  style="width: 100%; min-height: 400px"></div>
<div id="territory-RHC-chart" style="width: 100%; min-height: 400px"></div>
<div id="territory-THS-chart" style="width: 100%; min-height: 400px"></div>

<%= javascript_tag do %>
  TerritoryASChart = new ChartGenerator(echarts, $, window);
  TerritoryRHCChart = new ChartGenerator(echarts, $, window);
  TerritoryTHSChart = new ChartGenerator(echarts, $, window);

  TerritoryASChart.createChart(
    "territory-AS-chart",
    "<%= t 'general_data.territory.procedures_by_administrative_sector' %>",
    [
      <% @stats[:administrative_sectors_by_name].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "bar",
    {
      xAxis: {type: 'value'},
      yAxis: {type: 'category'},
      dataZoom: [{
        id: 'dataZoomX',
        type: 'slider',
        xAxisIndex: [0],
        filterMode: 'filter'
      }, {
        id: 'dataZoomY',
        type: 'slider',
        yAxisIndex: [0],
        filterMode: 'empty'
      }],
    },
    '#collapseGeneralDataterritory'
  );

  TerritoryRHCChart.createChart(
    "territory-RHC-chart",
    "<%= t 'general_data.territory.procedures_by_regional_health_coordinator' %>",
    [
      <% @stats[:regional_health_coordinations].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "bar",
    {
      xAxis: {type: 'value'},
      yAxis: {type: 'category'},
      dataZoom: [{
        id: 'dataZoomX',
        type: 'slider',
        xAxisIndex: [0],
        filterMode: 'filter'
      }, {
        id: 'dataZoomY',
        type: 'slider',
        yAxisIndex: [0],
        filterMode: 'empty'
      }],
    },
    '#collapseGeneralDataterritory'
  );

  TerritoryTHSChart.createChart(
    "territory-THS-chart",
    "<%= t 'general_data.territory.procedures_by_technical_health_supervision' %>",
    [
      <% @stats[:technical_health_supervisions].map do |v| %>
        ["<%= v.first %>", <%= v.second %>],
      <% end %>
    ],
    "bar",
    {
      xAxis: {type: 'value'},
      yAxis: {type: 'category'},
      dataZoom: [{
        id: 'dataZoomX',
        type: 'slider',
        xAxisIndex: [0],
        filterMode: 'filter'
      }, {
        id: 'dataZoomY',
        type: 'slider',
        yAxisIndex: [0],
        filterMode: 'empty'
      }],
    },
    '#collapseGeneralDataterritory'
  );
<% end %>
