<footer class="py-3 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <p class="m-0 text-left text-white small">
          <strong>
            <%= t('views.shared.footer.sms') %>
          </strong>
        </p>
        <p class="m-0 text-left text-white small">
          R. General Jardim, 36 - Vila Buarque
        </p>
        <p class="m-0 text-left text-white small">
          <abbr title="<%= t('views.shared.footer.telephone') %>">
            <%= t('views.shared.footer.telephone')[0] %>:
          </abbr>
          (11) 3397-2000
        </p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="m-0 text-left text-white small">
          <strong>
            <%= t('views.shared.footer.contact') %>
          </strong>
        </p>
        <p class="m-0 text-left text-white small">
          ouvidoriasaude@prefeitura.sp.gov.br
        </p>
        <p class="m-0 text-left text-white small">
          <abbr title="<%= t('views.shared.footer.telephone') %>">
            <%= t('views.shared.footer.telephone')[0] %>:
          </abbr>
          156
        </p>
      </div>
      <!--
      <div class="col-lg-4 col-sm-6">
        <ul class="footer-links small">
          <li>
            <%= link_to t('views.shared.footer.about'), '#', class: 'link' %>
          </li>
          <li>
            <%= link_to t('views.shared.footer.faq'), '#', class: 'link' %>
          </li>
        </ul>
      </div>
      -->
    </div>
  </div>
</footer>
