<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= image_tag 'partner-logo.png', class: 'partner-logo' %>

    <%= link_to t('views.shared.header.application_name'), root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to t('views.shared.header.advanced_search'), procedures_path, class: 'nav-link', data: { turbolinks: false } %>
        </li>

        <!-- FIXME: implement this page
        <li class="nav-item">
          <%= link_to t('views.shared.header.health_facilities'), '#', class: 'nav-link' %>
        </li>
        -->

        <li class="nav-item">
          <%= link_to t('views.shared.header.general_data'), general_data_path, class: 'nav-link' %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('views.shared.header.user') %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <% if user_signed_in? %>
              <% if current_user.admin %>
                <%= link_to t('views.shared.header.admin'), trestle.root_path, class: 'dropdown-item' %>
              <% end %>
              <%= link_to t('views.shared.header.logout'), destroy_user_session_path, class: 'dropdown-item', method: :delete %>
            <% else %>
              <%= link_to t('views.shared.header.login'), new_user_session_path, class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
