<%= javascript_pack_tag 'procedures_map/CensusSectorsPopulationFilters' %>

<%= javascript_tag do %>
  var census_sectors_population_filters = new CensusSectorsPopulationFilters(
    <%= CensusSectorsProceduresCounterService::GENDER_FILTERS.to_json.html_safe %>,
    <%= CensusSectorsProceduresCounterService::RACE_FILTERS.to_json.html_safe %>,
    $
  );
<% end %>

<div class="card">
  <div class="card-header" id="headingFour">
    <h5 class="mb-0">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" type="button">
        <%= t '.title' %>
      </button>
    </h5>
  </div>

  <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#filters-accordion">
    <div class="card-body">
      <% CensusSectorsProceduresCounterService::ALL_FILTERS.each do |filter| %>
        <div class="form-check">
          <%= hidden_field_tag "csw_heat_map[#{filter}]", false %>

          <%= check_box_tag(
            "csw_heat_map[#{filter}]",
            true,
            CensusSectorsProceduresCounterService::GENDER_FILTERS.include?(filter),
            class: 'form-check-input',
            onchange: "census_sectors_population_filters.changing('#{filter}')"
          ) %>
          <%= label_tag("csw_heat_map[#{filter}]", t(".#{filter}"), class: 'form-check-label') %>
        </div>
      <% end %>

      <p class="text-secondary pt-4"><%= t('.subtitle') %></p>
    </div>
  </div>
</div>
