<div class="card">
  <div class="card-header" id="headingOne">
    <h5 class="mb-0">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" type="button">
        <%= t 'procedures.index.box_title.health_facility' %>
      </button>
    </h5>
  </div>

  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#filters-accordion">
    <div class="card-body">
      <!-- Health Facility Name -->
      <%= form.label(:health_facility, t('procedures.index.hf.name')) %><br>
      <%= form.select(:health_facility_id_in,
            options_for_select(health_facilities_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>

      <!-- Health Facility Administration -->
      <%= form.label(:health_facility_administration, t('procedures.index.hf.administration')) %><br>
      <%= form.select(:health_facility_administration_cont_any,
            options_for_select(administration_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>

      <!-- Health Facility Beds quantity -->
      <%= form.label(:health_facility_beds, t('procedures.index.hf.beds')) %><br>
      <%= form.text_field(:health_facility_beds_between,
            data: {
              provide: 'slider',
              slider_max: max_beds(),
              slider_ticks: [0, max_beds()],
              slider_value: [0, max_beds()],
              slider_tooltip: 'show',
              slider_tooltip_split: true
            }
      ) %><hr>

      <!-- Health Facility AS -->
      <%= form.label(:health_facility_administrative_sector, t('procedures.index.administrative_sector')) %><br>
      <%= form.select(:health_facility_administrative_sector_id_in,
            options_for_select(as_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>

      <!-- Health Facility Subprefecture -->
      <%= form.label(:health_facility_subprefecture, t('procedures.index.subprefecture')) %><br>
      <%= form.select(:health_facility_subprefecture_id_in,
            options_for_select(subprefecture_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>

      <!-- Health Facility THS -->
      <%= form.label(:health_facility_technical_health_supervision, t('procedures.index.technical_health_supervision')) %><br>
      <%= form.select(:health_facility_technical_health_supervision_id_in,
            options_for_select(ths_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>

      <!-- Health Facility RHC -->
      <%= form.label(:health_facility_regional_health_coordination, t('procedures.index.regional_health_coordination')) %><br>
      <%= form.select(:health_facility_regional_health_coordination_id_in,
            options_for_select(rhc_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %>
    </div>
  </div>
</div>
