<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" type="button">
        <%= t 'procedures.index.box_title.patient_data' %>
      </button>
    </h5>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#filters-accordion">
    <div class="card-body">
      <!-- Patient Age -->
      <%= form.label(:patient_datum_age_code, t('procedures.index.patient.age_code')) %><br>
      <%= form.select(:patient_datum_age_code_cont_any,
            options_for_select(age_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>
      <!-- Patient Race -->
      <%= form.label(:patient_datum_race, t('procedures.index.patient.race')) %><br>
      <%= form.select(:patient_datum_race_cont_any,
            options_for_select(race_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>
      <!-- Patient Educational Level -->
      <%= form.label(:patient_datum_educational_level, t('procedures.index.patient.educational_level')) %><br>
      <%= form.select(:patient_datum_educational_level_in,
            options_for_select(education_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>
      <!-- Patient Gender -->
      <%= form.label(:patient_datum_gender, t('procedures.index.patient.gender')) %><br>
      <%= form.select(:patient_datum_gender_eq_any,
            options_for_select([[t('patient_datum.gender_F'), 'F'], [t('patient_datum.gender_M'), 'M']]),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>
      <!-- Patient AS -->
      <%= form.label(:patient_datum_administrative_sector, t('procedures.index.administrative_sector')) %><br>
      <%= form.select(:patient_datum_administrative_sector_id_in,
            options_for_select(as_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>
      <!-- Patient Subprefecture -->
      <%= form.label(:patient_datum_subprefecture, t('procedures.index.subprefecture')) %><br>
      <%= form.select(:patient_datum_subprefecture_id_in,
            options_for_select(subprefecture_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>
      <!-- Patient THS -->
      <%= form.label(:patient_datum_technical_health_supervision, t('procedures.index.technical_health_supervision')) %><br>
      <%= form.select(:patient_datum_technical_health_supervision_id_in,
            options_for_select(ths_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>
      <!-- Patient RHC -->
      <%= form.label(:patient_datum_regional_health_coordination, t('procedures.index.regional_health_coordination')) %><br>
      <%= form.select(:patient_datum_regional_health_coordination_id_in,
            options_for_select(rhc_options()),
            {},
            {
              class: "selectpicker",
              multiple: true,
              data: {
                title: t('procedures.index.nothing_selected'),
                live_search: true,
                size: 5,
                actions_box: true,
                selected_text_format: 'count',
                select_all_text: t('procedures.index.all'),
                deselect_all_text: t('procedures.index.none'),
                count_selected_text: '{0} ' + t('procedures.index.items_selected')
              }
            }
      ) %><hr>
      <!-- Patient Distance -->
      <%= form.label(:distance, t('procedures.index.procedure.distance')) %><br>
      <%= form.text_field(:distance_between,
                          data: {
                            provide: 'slider',
                            slider_max: max_distance(),
                            slider_ticks: [0, max_distance()],
                            slider_value: [0, max_distance()],
                            slider_step: 0.1,
                            slider_tooltip: 'show',
                            slider_tooltip_split: true
                          }) %>
    </div>
  </div>
</div>
