proceduresMap.addHealthFacility(
  '<%= image_url("#{health_facility.administration}_hf_icon.png") %>',
  <%= health_facility.latitude %>,
  <%= health_facility.longitude %>,
  '<%= health_facility_path(health_facility.id) %>',
  `<%= t '.error' %>`
);

<% distance_percentiles(health_facility).each do |percentile, distance| %>
  proceduresMap.addHealthFacilityPercentile(
    <%= health_facility.latitude %>,
    <%= health_facility.longitude %>,
    <%= percentile %>,
    <%= distance %>,
    [
      '<%= t '.percentile' %>',
      '<%= t '.radius' %>'
    ]
  );
<% end %>
