<h5 class="pt-4"><%= t '.title' %></h5>

<div class="container">
  <div class="row align-items-center justify-content-start">
    <div class="col-2">
      <%= image_tag 'ESTADUAL_hf_icon.png' %>
    </div>

    <div class="col-4 align-self-center pl-0">
      <%= t '.state' %>
    </div>

    <div class="col-2">
      <%= image_tag 'MUNICIPAL_hf_icon.png' %>
    </div>

    <div class="col-4 align-self-center pl-0">
      <%= t '.city' %>
    </div>
  </div>
</div>
