<%= javascript_pack_tag 'procedures_map/ProceduresMap' %>
<%= javascript_pack_tag 'procedures_map/LimitsFeatures' %>
<%= javascript_pack_tag 'procedures_map/LoadingOverlay' %>

<%= javascript_tag do %>
  var proceduresMap = new ProceduresMap('map', L, $, <%= dataset_proportion %>);
  var limitsFeatures = new LimitsFeatures();

  var loadingOverlay = new LoadingOverlay($);

  window.onload = function() {
    proceduresMap.invalidateSize();

    <%= render partial: 'procedures/map/health_facility.js', collection: health_facilities, cached: true %>

    <% patients_data.find_in_batches do |patients_data_batch| %>
      <%= render partial: 'procedures/map/patient_data.js', collection: patients_data_batch, cached: true %>
    <% end %>

    proceduresMap.applyPatientCluster();
    proceduresMap.toggleCluster();
    proceduresMap.toggleHealthFacilities();

    <% census_sectors_counts.each do |census_sector, counts| %>
      proceduresMap.createCSWHMarker(<%= census_sector.latitude %>, <%= census_sector.longitude %>, <%= counts[:rate] %>);
    <% end %>

    <%= render partial: 'procedures/map/limits_feature.js', collection: cities, as: :object, cached: true %>
    proceduresMap.buildLimitsLayer('<%= City.to_s %>', limitsFeatures.getFeatureCollection('<%= City.to_s %>'));

    <% census_sectors.find_in_batches do |census_sectors_batch| %>
      <%= render partial: 'procedures/map/limits_feature.js', collection: census_sectors_batch, as: :object, cached: true %>
    <% end %>
    proceduresMap.buildLimitsLayer('<%= CensusSector.to_s %>', limitsFeatures.getFeatureCollection('<%= CensusSector.to_s %>'));

    <%= render partial: 'procedures/map/limits_feature.js', collection: regional_health_coordinations, as: :object, cached: true %>
    proceduresMap.buildLimitsLayer('<%= RegionalHealthCoordination %>', limitsFeatures.getFeatureCollection('<%= RegionalHealthCoordination %>'));

    <%= render partial: 'procedures/map/limits_feature.js', collection: technical_health_supervisions, as: :object, cached: true %>
    proceduresMap.buildLimitsLayer('<%= TechnicalHealthSupervision %>', limitsFeatures.getFeatureCollection('<%= TechnicalHealthSupervision %>'));

    <%= render partial: 'procedures/map/limits_feature.js', collection: subprefectures, as: :object, cached: true %>
    proceduresMap.buildLimitsLayer('<%= Subprefecture %>', limitsFeatures.getFeatureCollection('<%= Subprefecture %>'));

    <%= render partial: 'procedures/map/limits_feature.js', collection: administrative_sectors, as: :object, cached: true %>
    proceduresMap.buildLimitsLayer('<%= AdministrativeSector %>', limitsFeatures.getFeatureCollection('<%= AdministrativeSector %>'));

    <%= render partial: 'procedures/map/limits_feature.js', collection: ubs, as: :object, cached: true %>
    proceduresMap.buildLimitsLayer('<%= Ubs %>', limitsFeatures.getFeatureCollection('<%= Ubs %>'));

    <%= render partial: 'procedures/map/limits_feature.js', collection: fhs, as: :object, cached: true %>
    proceduresMap.buildLimitsLayer('<%= FamilyHealthStrategy %>', limitsFeatures.getFeatureCollection('<%= FamilyHealthStrategy %>'));
  };
<% end %>
