<div class="accordion" id="map-options-accordion">
  <div class="card">
    <div class="card-header" id="headingMapOptionsOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMapOptionsOne" aria-expanded="true" aria-controls="collapseMapOptionsOne">
          <%= t '.clustering' %>
        </button>
      </h5>
    </div>

    <div id="collapseMapOptionsOne" class="collapse" aria-labelledby="headingMapOptionsOne" data-parent="#map-options-accordion">
      <div class="card-body">
        <div class="form-check">
          <%= check_box_tag(:clustering_enabled, true, true, class: 'form-check-input', onchange: 'proceduresMap.toggleCluster()') %>
          <%= label_tag(:clustering_enabled, t('.enabled'), class: 'form-check-label') %>
        </div>

        <hr>

        <div id="clustering_radius_container">
          <%= label_tag(:clustering_radius, t('.radius')) %><br>
          <%= text_field_tag(:clustering_radius, nil,
                             data: {
                               provide: 'slider',
                               slider_min: 0,
                               slider_max: 10,
                               slider_step: 0.1,
                               slider_tooltip: 'show'
                             }) %>
        </div>
      </div>
      <script>
        $('#clustering_radius').slider().on('slideStop', function(slider) {
          proceduresMap.clusterRadiusEvent(slider)
        })
      </script>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingMapOptionsTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMapOptionsTwo" aria-expanded="true" aria-controls="collapseMapOptionsTwo">
          <%= t '.heat_map' %>
        </button>
      </h5>
    </div>

    <div id="collapseMapOptionsTwo" class="collapse" aria-labelledby="headingMapOptionsTwo" data-parent="#map-options-accordion">
      <div class="card-body">
        <div class="form-check">
          <%= check_box_tag(:heat_map_enabled, true, false, class: 'form-check-input', onchange: 'proceduresMap.toggleHeatmap()') %>
          <%= label_tag(:heat_map_enabled, t('.count_heat_map'), class: 'form-check-label') %>
        </div>

        <hr>

        <%= label_tag(:heat_map_radius, t('.radius')) %><br>
        <%= text_field_tag(:heat_map_radius, 25,
                           data: {
                             provide: 'slider',
                             slider_min: 0,
                             slider_max: 10,
                             slider_step: 0.1,
                             slider_tooltip: 'show'
                          },
                          onchange: 'proceduresMap.heatmapRadiusEvent(this)') %>

        <hr>

        <div class="form-check">
          <%= check_box_tag(:heat_map_high_contrast, true, false, class: 'form-check-input', onchange: 'proceduresMap.toggleHeatmapHighContrast()') %>
          <%= label_tag(:heat_map_high_contrast, t('.high_contrast'), class: 'form-check-label') %>
        </div>

        <hr>

        <%= label_tag(:heat_map_opacity, t('.opacity')) %><br>
        <%= text_field_tag(:heat_map_opacity, nil,
                           data: {
                             provide: 'slider',
                             slider_min: 0,
                             slider_max: 1,
                             slider_step: 0.05,
                             slider_tooltip: 'show'
                          },
                          onchange: 'proceduresMap.heatmapOpacityEvent(this)') %>

        <div class="form-check">
          <%= check_box_tag(:csw_heat_map_enabled, true, false, class: 'form-check-input', onchange: 'proceduresMap.toggleCSWHeatmap()') %>
          <%= label_tag(:csw_heat_map_enabled, t('.csw_heat_map'), class: 'form-check-label') %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingMapOptionsThree">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMapOptionsThree" aria-expanded="true" aria-controls="collapseMapOptionsThree">
          <%= t '.administrative_limits' %>
        </button>
      </h5>
    </div>

    <div id="collapseMapOptionsThree" class="collapse" aria-labelledby="headingMapOptionsThree" data-parent="#map-options-accordion">
      <div class="card-body">
        <div class="form-check">
          <%= check_box_tag(:show_city_limits, true, false, class: 'form-check-input',
                            onchange: "proceduresMap.toggleLimits('#{City}')") %>
          <%= label_tag(:show_city_limits, t('.city'), class: 'form-check-label') %>
        </div>

        <hr>

        <div class="form-check">
          <%= check_box_tag(:show_rhc_limits, true, false, class: 'form-check-input', onchange: "proceduresMap.toggleLimits('#{RegionalHealthCoordination}')") %>
          <%= label_tag(:show_rhc_limits, t('.regional_health_coordination'), class: 'form-check-label') %>
        </div>

        <hr>

        <div class="form-check">
          <%= check_box_tag(:show_ths_limits, true, false, class: 'form-check-input', onchange: "proceduresMap.toggleLimits('#{TechnicalHealthSupervision}')") %>
          <%= label_tag(:show_ths_limits, t('.technical_health_supervision'), class: 'form-check-label') %>
        </div>

        <hr>

        <div class="form-check">
          <%= check_box_tag(:show_subprefecture_limits, true, false, class: 'form-check-input', onchange: "proceduresMap.toggleLimits('#{Subprefecture}')") %>
          <%= label_tag(:show_subprefecture_limits, t('.subprefecture'), class: 'form-check-label') %>
        </div>

        <hr>

        <div class="form-check">
          <%= check_box_tag(:show_administrative_sectors_limits, true, false, class: 'form-check-input', onchange: "proceduresMap.toggleLimits('#{AdministrativeSector}')") %>
          <%= label_tag(:show_administrative_sectors_limits, t('.administrative_sector'), class: 'form-check-label') %>
        </div>

        <hr>

        <div class="form-check">
          <%= check_box_tag(:show_ubs_limits, true, false, class: 'form-check-input',
                            onchange: "proceduresMap.toggleLimits('#{Ubs}')") %>
          <%= label_tag(:show_ubs_limits, t('.ubs'), class: 'form-check-label') %>
        </div>

        <hr>

        <div class="form-check">
          <%= check_box_tag(:show_fhs_limits, true, false, class: 'form-check-input',
                            onchange: "proceduresMap.toggleLimits('#{FamilyHealthStrategy}')") %>
          <%= label_tag(:show_fhs_limits, t('.fhs'), class: 'form-check-label') %>
        </div>

        <hr>

        <div class="form-check">
          <%= check_box_tag(:show_cs_limits, true, false, class: 'form-check-input', onchange: "proceduresMap.toggleLimits('#{CensusSector}')") %>
          <%= label_tag(:show_cs_limits, t('.census_sectors'), class: 'form-check-label') %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingMapOptionsFour">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMapOptionsFour" aria-expanded="true" aria-controls="collapseMapOptionsFour">
          <%= t '.health_facilities' %>
        </button>
      </h5>
    </div>

    <div id="collapseMapOptionsFour" class="collapse" aria-labelledby="headingMapOptionsFour" data-parent="#map-options-accordion">
      <div class="card-body">
        <div class="form-check">
          <%= check_box_tag(:health_facilities_enabled, true, true, class: 'form-check-input', onchange: 'proceduresMap.toggleHealthFacilities()') %>
          <%= label_tag(:health_facilities_enabled, t('.enabled'), class: 'form-check-label') %>
        </div>

        <hr>

        <div class="form-check">
          <%= check_box_tag(:health_facilities_percentiles_enabled, true, false, class: 'form-check-input', onchange: 'proceduresMap.toggleHealthFacilitiesPercentiles()') %>
          <%= label_tag(:health_facilities_percentiles_enabled, t('.percentiles_enabled'), class: 'form-check-label') %>
        </div>
      </div>
    </div>
  </div>
</div>
