<%= javascript_pack_tag 'procedures_map/ImageGenerator' %>

<%= form_with url: print_procedures_path, id: 'image_form' do %>
  <%= hidden_field_tag :map_image  %>
<% end %>

<%= javascript_tag do %>
  imageGenerator = new ImageGenerator(html2canvas, $, 'image_form', 'map_image');
<% end %>

<%= link_to t('.pdf'), 'javascript:;', class: 'm-2 btn btn-secondary overlay-button', onclick: "imageGenerator.generate('map')" %>
