<div class="container-fluid px-0 h-100">
  <div class="row no-gutters h-100">
    <div id="map" class="col-md-8"></div>

    <div class="filters col-md-4 py-4 px-4">
      <h5><%= t('.filters') %></h5>

      <div id="filters-accordion">
        <%= search_form_for @search, url: search_procedures_path, html: { method: :post } do |f| %>
          <%= render partial: 'procedures/filters/health_facilities', locals: { form: f } %>

          <%= render partial: 'procedures/filters/procedures', locals: { form: f } %>

          <%= render partial: 'procedures/filters/patients', locals: { form: f } %>

          <%= render partial: 'procedures/filters/csw_heat_map' %>

          <%= submit_tag(t('.search'), class: 'm-2 btn btn-primary overlay-button') %>

          <!-- TODO: load search values to form fields then add the = below
          <% clear_filter title: t('.clear_filters'), class: 'm-2 btn btn-secondary' %>
          -->

        <% end %>

      </div>

      <h5 class="pt-4"><%= t '.map_options' %></h5>

      <%= render partial: 'procedures/map/options' %>

      <%= render partial: 'procedures/map/legend' %>

      <h5 class="pt-4"><%= t '.export' %></h5>

      <div>
        <div class="float-left">
          <%= link_to t('.download_csv'), export_procedures_path(format: :csv), class: 'm-2 btn btn-secondary' %>
        </div>

        <div class="float-left">
          <%= render partial: 'pdf_generator' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade justify-content-center" data-backdrop="static" data-keyboard="false" id="loading-overlay" role="overlay">
  <div class="modal-dialog d-flex h-100 mt-0 mx-auto">
    <div class="spinner-border text-light justify-content-center align-self-center mx-auto" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<%= render partial: 'procedures/map/load.js', locals: {
  health_facilities: @health_facilities,
  patients_data: @patients_data,
  cities: @cities,
  census_sectors: @census_sectors,
  regional_health_coordinations: @regional_health_coordinations,
  technical_health_supervisions: @technical_health_supervisions,
  subprefectures: @subprefectures,
  administrative_sectors: @administrative_sectors,
  ubs: @ubs,
  fhs: @fhs,
  census_sectors_counts: @census_sectors_counts,
  dataset_proportion: @dataset_proportion
} %>
