<div class="container">
  <div class="map">
    <img src="<%= @base64_map %>">
  </div>

  <div class="information">
    <h1><%= t 'procedures.pdf_generator.title' %></h1>

    <h2><%= t 'procedures.pdf_generator.filters' %></h2>

    <%= render partial: 'shared/services/active_filters', locals: {
      active_filters: @active_filters
    } %>

    <h2 class="pt-4"><%= t 'procedures.pdf_generator.legend' %></h2>

    <p>
      <%= wicked_pdf_image_tag 'ESTADUAL_hf_icon.png' %> <%= t 'procedures.pdf_generator.state' %> <%= wicked_pdf_image_tag 'MUNICIPAL_hf_icon.png' %> <%= t 'procedures.pdf_generator.city' %>
    </p>

    <h2><%= t 'procedures.pdf_generator.source_title' %></h2>

    <p>
      <%= t 'procedures.pdf_generator.source_text' %><br>
      <%= t 'procedures.pdf_generator.source_url' %>
    </p>
  </div>
</div>
