<b><%= t('.gender') %></b>: <%= human_attribute_value(@patient_datum, 'gender') %> <br>
<b><%= t('.race') %></b>: <%= human_attribute_value(@patient_datum, 'race') %> <br>
<b><%= t('.age_year') %></b>: <%= @patient_datum.age_year %> <br>
<b><%= t('.educational_level') %></b>: <%= human_attribute_value(@patient_datum, 'educational_level') %> <br>
<b><%= t('.census_sector') %></b>: <%= @patient_datum.census_sector.code %> <br>
<b><%= t('.administrative_sector') %></b>: <%= @patient_datum.administrative_sector.name %> <br>
<b><%= t('.subprefecture') %></b>: <%= @patient_datum.subprefecture.name %> <br>
<b><%= t('.technical_health_supervision') %></b>: <%= @patient_datum.technical_health_supervision.name %> <br>
<b><%= t('.regional_health_coordination') %></b>: <%= @patient_datum.regional_health_coordination.name %> <br>
<b><%= t('.icd_category') %></b>: <%= @hospitalization_datum.icd_category&.description %> <br>
<b><%= t('.admission_date') %></b>: <%= @hospitalization_datum.admission_date %> <br>
<b><%= t('.distance') %></b>: <%= @hospitalization_datum.distance %> <br>
<b><%= t('.health_facility') %></b>: <%= @hospitalization_datum.health_facility.name %>
