// Place all the styles related to the Procedures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tooltip.in {
  opacity: 1;
}

.datepicker {
  width: 10em;
}

.filters {
  max-height: calc(100vh - 40px - 89px - 1rem);
  overflow: auto;
}

.inner .show{
  max-width: 300px;
}
