<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title><%= t 'views.shared.header.application_name' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= wicked_pdf_stylesheet_link_tag 'wicked_pdf' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
